@model WebReserva.ViewModels.PageAcomodacaoViewModel
@{
    ViewBag.Title = "Acomodação - " + Model.WrHotel.Nome;
    ViewBag.TenantName = Model.WrHotel.Nome;
    ViewBag.TenantId = Model.WrHotel.Id;
    ViewBag.TenantUrl = Model.WrHotel.HostUrl;
    ViewBag.Tema = Model.WrHotel.Tema;
    ViewBag.ImgLogo = Model.WrHotel.ImgLogo;
    ViewBag.Facebook = Model.WrHotel.Facebook;
    ViewBag.Twitter = Model.WrHotel.Twitter;
    ViewBag.Instagram = Model.WrHotel.Instagram;
    ViewBag.Telefone = Model.WrHotel.Telefone;
    ViewBag.LatitudeLongitude = Model.WrHotel.LatitudeLongitude;
    ViewBag.EmailAdministrador = Model.WrHotel.EmailAdministrador;
    ViewBag.Erro = false;
}

<section class="section-sub-banner awe-parallax hotel-1">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Acomodação</h2>
            </div>
        </div>
    </div>
</section>

@Html.Partial("SectionRoomDetail", Model.Acomodacao)

@section scripts {
    <script src="~/Content/global/js/datepicker-pt-BR.js"></script>
    <script>
        $('#checkin-date').datepicker('destroy');
        $('#checkout-date').datepicker('destroy');
        $('#qtd-adultos').selectpicker('val', @Model.Acomodacao.Adultos).attr('disabled', 'disabled');
        $('#qtd-criancas').selectpicker('val', @Model.Acomodacao.Criancas).attr('disabled', 'disabled');
    </script>
}