@model IEnumerable<WebReserva.ViewModels.SectionPackageViewModel>

@{ 
    var isRow = true;
    var contadorA = 0;
    var contadorB = 0;
}

@if (Model.Any())
    {
    <section class="section-accomd awe-parallax hotel-1">
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="accomd-modations">
                <div class="row">
                    <div class="col-md-3">
                        <div class="accomd-modations-header">
                            <h2>Período de pacote</h2>
                            <p>
                                Confira a lista de pacotes disponíveis!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                        <div class="accomd-modations-content owl-single">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var packageUrl = "disponibilidade?checkin=" + Model.ToList()[i].Inicio + "&checkout=" + Model.ToList()[i].Fim + "&adultos=" + Model.ToList()[i].Adultos + "&criancas=0";

                                if (isRow) {
                                    @:<div class="row">
                                    isRow = false;
                                    contadorA = (4 * contadorB) + 3;
                                    contadorB++;
                                }

                                        <div class="col-xs-6">
                                            <div class="accomd-modations-room">
                                                <div class="img">
                                                    <a href="@packageUrl">
                                                        <img src="@Model.ToList()[i].Imagem" alt="@Model.ToList()[i].Titulo">
                                                    </a>
                                                </div>
                                                <div class="text">
                                                    <h2>
                                                        <a href="#">@Model.ToList()[i].Titulo</a>
                                                    </h2>
                                                    <p class="price">
                                                        <span class="amout">R$@Model.ToList()[i].Valor</span>/dias
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                if (!isRow && i == contadorA) {
                                    @:</div>
                                    isRow = true;
                                }
                                else {
                                    isRow = false;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}